@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.About-div {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #303030;;
    color: rgb(211, 211, 211);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}