@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

.Home {
    text-align: center;
    background-image: url('./The-Pattern-Library.png');
    
  }
  
  /*
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Home-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  */

  .Home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center; */
    font-size: calc(10px + 6vmin);
    color: white;
    font-family: 'Redressed', cursive;
    
  }

  .Home-paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: calc(2px + 2vmin);
    width: 65%;
  }
  
  .Home-link {
    color: #61dafb;
    font-size: calc(10px + 3vmin);
  }

  /*
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  */

  
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.each-slide span {
  visibility: hidden;
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.Home-vid-div, .Home-content-div {
  padding-top: 15vmin; 
  min-height: 85vmin;
}

.Home-vid-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 50%;
  float: left;
}

.Home-video {
  border: 0px;
}

.Home-content-div {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 50%;
}

.Home-vid-div iframe {
  height: 50vmin;
  width: 90%;
}