@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

.Home {
    text-align: center;
    background-image: url('./The-Pattern-Library.png');
    
  }
  
  /*
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Home-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  */

  .Home-header {
    min-height: 70vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center; */
    padding-top: 30vmin; 
    font-size: calc(10px + 6vmin);
    color: white;
    font-family: 'Redressed', cursive;
    
  }

  .Home-paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: calc(2px + 2vmin);
  }
  
  .Home-link {
    color: #61dafb;
    font-size: calc(10px + 3vmin);
  }

  /*
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  */

  
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.each-slide span {
  visibility: hidden;
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}