@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.Nav-main{
  position: relative;
  padding: 2vmin;
  background-color: rgb(19, 19, 19);
}



body {margin:0;}

.Nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(36, 36, 36);
  position: static;
  top: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(5px + 2vmin);
  text-align: center;
}


.Nav-links a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2vmin 2.5vmin;
  text-decoration: none;
 
  
}

.Nav-links a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

/*
.Nav-main li:first-child a{}
*/

.Nav-logo {
  max-width: 30%;
  padding: calc(1px + 2vmin)
}