@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*TODO: Give each html tag a class and address it in the css*/

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(36, 36, 36);
  position: static;
  top: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(5px + 2vmin);
  text-align: center;
}


li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vmin 2.5vmin;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
  color: black
}